.bullet {
    position: relative;
    width: 10px;
    height: 10px;
    clip-path: circle(5px);
    background-color: black;
}

.bullet::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    clip-path: circle(4.5px);
    background-color: white;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.user {
    display: flex;
    padding: 0 1.3rem;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-top: 2px solid #F9F8F9;
    cursor: pointer;
}

.searched {
    background-color: yellow;
}

.user:hover {
    background-color: #e9e9e9;
}

.checked {
    text-decoration: line-through;
}

.user > div {
    display: flex;
    align-items: center;
}

.username {
    margin-left: .7rem;
}